{% extends 'baseBack.html.twig' %}

{% block title %}New Utilisateurs
{% endblock %}

{% block body %}


	{{ include('utilisateurs/_form.html.twig') }}

	<a href="{{ path('app_utilisateurs_index') }}">back to list</a>
{% endblock %}
